@font-face {
	font-family: 'Kalam';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/kalam/v16/YA9dr0Wd4kDdMthROCc.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#score {
	display: none;//todo remettre
	justify-content: center;
	margin-bottom:1em;
	text-align: center;
	align-items: center;

	#score-wrapper {
		background-image: url('img/score.jpg');
		background-size: 100%;
		aspect-ratio: 1;
		height: 500px;
		display: flex;
		font-family: "Kalam";
		font-size: larger;
		margin: 0 auto;
		box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);

		.score-player-container {
			position: relative;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			width: 23%;
			padding: 1%;
			justify-items: center;
			.player-name {
				grid-column: 1 / span 2;
				align-self: center;
				margin-top: -4px;
			}
			.totals-container {
				grid-column: 1 / span 2;
			}
		}

		.player-name {
			color: #054259;
			font-weight: bold;
			text-shadow: 0px 0px 1px white, 0px 0px 2px white, 0px 0px 3px white;
			word-break: break-all;
			text-overflow: ellipsis;
			font-size: smaller;
			//width: 130px;
			height: 19px;
			overflow: hidden;
		}

		.total {
			font-weight: bold;
		}
		.highlight {
			color: #ec1918;
		}

		//.land-container div, cards-container div, , totals-container div{}

		.land-container {
			display: flex;
			flex-direction: column;
			grid-row-gap: 43px;
			align-self: flex-end;
		}

		.cards-container {
			display: flex;
			flex-direction: column;
			align-self: flex-end;
			align-items: center;
			grid-row-gap: 12px;
		}
		.totals-container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			align-items: flex-end;
			justify-items: center;
			width: 100%;
			div:nth-child(3) {
				grid-column: 1 / span 2;
			}
		}
	}

	.score-number {
		transition: color 0.5s ease-in-out;
		width: 28px;
		aspect-ratio: 1;
		//border: 2px solid orange;

	}

	.cards-container{
		color: rgb(166 100 10);
		
		.spirit-score{
			color: rgb(248, 233, 214);
		}
	}
}
