.player-board {
	$playerBoardTextColor: white;

	color: $playerBoardTextColor;
	background: url('img/playerboard-background-bottom.jpg');
	background-position: bottom;
	background-size: cover;

	@each $name, $color in $player-colors {
		&[data-player-color='#{$color}']::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 52px;
			background: url('img/playerboard-background.png'), ##{$color};
			/*background-size: cover;
			background-repeat: no-repeat;*/
			box-shadow: 0 0 3px 2px #a79f95;
			border-radius: 8px;
		}
	}

	.fa-star {
		color: $playerBoardTextColor;
	}
	.player-name,
	.player-name a {
		color: $playerBoardTextColor !important; // to override inline color
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	}
	.player_score_value {
		font-weight: bold;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	}

	.additional-icons {
		display: flex;
		gap: 5px;
	}

	.xpd-help-icon {
		&.xpd-help-icon-mini {
			position: relative;
			top: 50%;
			transform: translateY(-8%);
			width: 15px;
			height: 15px;
			font-size: 10pt;
			margin-left: 5px;
		}
	}
}

.help-card {
	&.help-sideA {
		width: 300px;
		height: 516px;
		background: url('img/helpSideA.jpg') no-repeat;
	}

	&.help-sideB {
		width: 289px;
		height: 485px;
		background: url('img/helpSideB.jpg') no-repeat;
	}
}

.counters {
	display: flex;
	align-items: center;
	margin-top: 10px;
	font-weight: bold;
	color: rgb(51, 44, 38);

	.counter {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;

		span {
			padding: 0 5px 0 5px;
		}
	}

	.empty-hex {
		clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0, 75% 0);
		background-color: cornsilk;
		width: 27px;
		height: 23px;
	}
}

.additional-info {
	column-gap: 5px;
	justify-content: space-evenly;
}

.player-turn-order {
	user-select: none;
}

.icon {
	display: inline-block;
	position: relative;
	width: 32px;
	height: 32px;
	background-size: auto 100%;
	background-repeat: no-repeat;
}

.playerOrderHelp {
	padding: 3px;
}

#first-player {
	background: url('img/first-player.png');
	width: 48px;
	height: 48px;
}
