//(classic BGA colors) :
$player-colors: (
	'red': 'ff0000',
	'green': '008000',
	'blue': '0000ff',
	'yellow': 'ffa500',
	'purple': '982fff'
);

$CARD_WIDTH: 150px; //also change in stock-utils.ts
$CARD_HEIGHT: 258px;

@import 'playerboards';
@import 'game-steps/game-steps';
@import 'bga-hacks/bga-hacks';
@import 'end-score/end-score';
@import 'player-table/player-table';
@import 'settings';
@import '../node_modules/bga-cards/bga-cards';

html {
	background: rgb(227, 194, 143);
	background-repeat: no-repeat;
	background-size: 100%;
}

.stockitem {
	border-radius: 6px;
	background-size: 1000%;
	&.disabled {
		filter: contrast(0.6);
		cursor: not-allowed;
	}
}

.css-icon {
	width: 25px;
	height: 25px;
	background-color: white;
	border-radius: 15px;
	text-align: center;
	font-weight: bolder;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: rgb(51, 44, 38);
	cursor: pointer;
	pointer-events: auto;

	&.card-info {
		width: 25px;
		height: 25px;
		position: relative;
		top: 10px;
		left: 10px;
		color: white;
		background-color: rgb(51, 44, 38);
	}
}

.card .card-sides .card-side.front .card-info {
	pointer-events: all;
}

/*.card-sides {
    width: $CARD_WIDTH;
    height: $CARD_HEIGHT;
}*/

.points-location-wrapper {
	display: flex;
	flex-direction: column;
	gap: 21px;
	width: 17px;
	position: absolute;
	top: 6px;
	right: 5px;
}
.points-location {
	aspect-ratio: 1/1.12;
	//border: 2px solid red;
}

.token-button {
	width: 30px;
	height: 27px;
}

.colored-token {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.central-board {
	background: url('img/centralBoard.png') no-repeat;
	width: 300px;
	height: 298px;
	position: relative;
	background-size: 100%;

	.central-board-hole {
		width: 25%;
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		//border: 2px solid white;

		&.hole-1 {
			position: absolute;
			top: 9%;
			left: 16%;

			.hole-token-1 {
				top: 9%;
				left: 61%;
			}
			.hole-token-2 {
				top: 5%;
				right: 32%;
			}
			.hole-token-3 {
				top: 44%;
				left: 3%;
			}
		}
		&.hole-2 {
			position: absolute;
			top: 9%;
			right: 18%;

			.hole-token-1 {
				top: 4%;
				right: 8%;
			}
			.hole-token-2 {
				top: 8%;
				right: 60%;
			}
			.hole-token-3 {
				top: 40%;
				left: -4%;
			}
		}
		&.hole-3 {
			position: absolute;
			top: 49%;
			left: 4%;

			.hole-token-1 {
				top: 9%;
				left: 61%;
			}
			.hole-token-2 {
				top: -4%;
				right: 31%;
			}
			.hole-token-3 {
				top: 44%;
				left: 3%;
			}
		}
		&.hole-4 {
			position: absolute;
			top: 49%;
			right: 4%;

			.hole-token-1 {
				top: 3%;
				left: 21%;
			}
			.hole-token-2 {
				top: 35%;
				right: 1%;
			}
			.hole-token-3 {
				top: 40%;
				left: -6%;
			}
		}
		&.hole-5 {
			position: absolute;
			top: 72%;
			left: 37%;

			.hole-token-1 {
				top: 9%;
				left: 61%;
			}
			.hole-token-2 {
				top: 40%;
				right: 18%;
			}
			.hole-token-3 {
				top: -4%;
				left: 5%;
			}
		}

		.hole-token {
			position: absolute;
		}
	}
}

.color-1,
.color-2,
.color-3,
.color-4,
.color-5,
.color-6 {
	max-width: 100%;
	background-size: 100%;
	background-image: url('img/coloredTokens.png');
}

.color-1 {
	//blue
	background-position: 0 0%;
	background-size: 100%;
}
.color-3 {
	//brown
	background-position: 0 19.605263%;
	background-size: 100%;
}
.color-4 {
	//green
	background-position: 0 39.161521%;
	background-size: 100%;
}
.color-2 {
	//grey
	background-position: 0 58.453947%;
	background-size: 100%;
}
.color-6 {
	//red
	background-position: 0 79.190176%;
	background-size: 100%;
}
.color-5 {
	//yellow
	background-position: 0 100%;
	background-size: 100%;
}

.hrm-button {
	&.animal-cube {
		width: 17px;
		height: 19px;
	}
}

.card-stock {
	.slot {
		border-radius: 8px;
		height: $CARD_HEIGHT;
		width: $CARD_WIDTH;
		background: hsla(0, 0%, 100%, 0.4);
		outline: 1px solid hsla(0, 0%, 100%, 0.6);
	}
}

.harmonies-card {
	.card-side {
		border-radius: 3%;
	}
	.cube {
		width: unset;
		height: unset;
	}
}
.cubespirit,
.cube {
	max-width: 100%;
	background-size: 100%;
	background-image: url('img/cubes.png');
	width: 22px;
	height: 25px;
	z-index: 4;
}

.cubespirit {
	background-position: 0 0%;
	background-size: 100%;
}
.cube {
	background-position: 0 100%;
	background-size: 102.121212%;
}

.shared-elements {
	display: flex;
	justify-content: center;
}
