@use 'sass:math';
@use 'sass:string';
@use './sass/hextile';

//(classic BGA colors) :
$player-colors: (
	'red': 'ff0000',
	'green': '008000',
	'blue': '0000ff',
	'yellow': 'ffa500',
	'purple': '982fff'
);

$cardSizeModifier: 0.9;
$CARD_WIDTH: calc(150px * $cardSizeModifier); //also change in stock-utils.ts
$CARD_HEIGHT: calc(258px * $cardSizeModifier);

@import 'playerboards';
@import 'game-steps/game-steps';
@import 'bga-hacks/bga-hacks';
@import 'end-score/end-score';
@import 'player-table/player-table';
@import 'settings';
@import '../node_modules/bga-cards/bga-cards';
@import 'player-table/hextile-static.min.css';

html {
	background: linear-gradient(0deg, #379cb8 0%, #41b2bb 50%, #ecda6e 96%, #ecda6e 100%);
	background-repeat: no-repeat;
	background-size: 100%;
}

@mixin selected-element {
	box-shadow: 0 0 5px 5px rgb(200, 255, 47);
}

@mixin active-zone {
	//box-shadow: 0 0 5px 5px rgb(249 17 13);
	padding: 5px;
	//margin: 0 auto;
	position: relative;
	overflow: hidden;
	border-radius: 5px;

	.border {
		position: absolute;
		display: block;
		top: -50%;
		left: -50%;
		z-index: -9;
		display: block;
		height: 200%;
		width: 200%;
		transform: rotate(-45deg);
		overflow: hidden;
		background: linear-gradient(to right, #ecd08c 20%, #ecd08c 40%, #fff 50%, #fff 55%, #ecd08c 70%, #ecd08c 100%);
		background-size: 200% auto;
		animation: shine 2.5s linear infinite;
	}

	/*Begin shimmer code*/

	@keyframes shine {
		to {
			background-position: 200% center;
		}
	}
}

.stockitem {
	border-radius: 6px;
	background-size: 1000%;
	&.disabled {
		filter: contrast(0.6);
		cursor: not-allowed;
	}
}

.active-zone {
	@include active-zone;

	&.hand-zone {
		.border {
			height: 235%;
			left: -57%;
		}
	}
}

#central-board-zone {
	clip-path: circle(50% at 50% 50%);
	padding: 3px;
}

.central-board {
	&.canTakeTokens {
		border-radius: 25%;
	}
}

.css-icon {
	width: 25px;
	height: 25px;
	color: white;
	background-color: rgb(51, 44, 38);
	border: 2px solid white;
	border-radius: 15px;
	text-align: center;
	font-weight: bolder;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	pointer-events: auto;

	&.card-info {
		width: 20px;
		height: 20px;
		position: relative;
		top: 7px;
		left: 7px;
	}
}

.card .card-sides .card-side.front .card-info {
	pointer-events: all;
}

/*.card-sides {
    width: $CARD_WIDTH;
    height: $CARD_HEIGHT;
}*/

.points-location-wrapper {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 17px;
	position: absolute;
	top: 3px;
	right: 5px;
}
.points-location {
	aspect-ratio: 1/1.12;
	//border: 2px solid red;
}

.place-token-button {
	&.selected {
		box-shadow: 0 0 4px 4px greenyellow;
	}
}
.token-button {
	width: 30px;
	height: 27px;
}

.colored-token {
	border-radius: 50%;
	width: 36px;
	height: 34px;
}

.custom-hidden {
	display: none !important;
}

.central-board {
	background: url('img/centralBoard.png') no-repeat;
	height: $CARD_HEIGHT;
	aspect-ratio: 700/710;
	position: relative;
	background-size: 100%;

	.central-board-counter-wrapper {
		position: absolute;
		bottom: 9%;
		right: 19%;
		font-size: smaller;
		font-weight: bold;
	}

	&.canTakeTokens {
		.central-board-hole {
			cursor: pointer;
		}
	}

	.central-board-hole {
		width: 25%;
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		//border: 2px solid white;

		&.selected-element {
			//@include selected-element
			scale: 1.3;
		}

		&.hole-1 {
			position: absolute;
			top: 9%;
			left: 16%;

			.hole-token-1 {
				top: -6%;
				right: 36%;
			}
			.hole-token-2 {
				top: 9%;
				left: 61%;
			}
			.hole-token-3 {
				top: 40%;
				left: 3%;
			}
		}
		&.hole-2 {
			position: absolute;
			top: 9%;
			right: 18%;

			.hole-token-1 {
				top: 4%;
				right: -12%;
			}
			.hole-token-2 {
				top: 8%;
				right: 47%;
			}
			.hole-token-3 {
				top: 47%;
				left: 14%;
			}
		}
		&.hole-3 {
			position: absolute;
			top: 49%;
			left: 4%;

			.hole-token-1 {
				top: -4%;
				right: 31%;
			}
			.hole-token-2 {
				top: 13%;
				left: 61%;
			}
			.hole-token-3 {
				top: 44%;
				left: 3%;
			}
		}
		&.hole-4 {
			position: absolute;
			top: 49%;
			right: 4%;

			.hole-token-1 {
				top: -5%;
				left: 21%;
			}
			.hole-token-2 {
				top: 35%;
				right: -12%;
			}
			.hole-token-3 {
				top: 40%;
				left: -6%;
			}
		}
		&.hole-5 {
			position: absolute;
			top: 72%;
			left: 37%;

			.hole-token-1 {
				top: 9%;
				left: 61%;
			}
			.hole-token-2 {
				top: 0%;
				left: 0%;
			}
			.hole-token-3 {
				top: 40%;
				right: 18%;
			}
		}

		.hole-token {
			position: absolute;
		}
	}
}

.player-count-1 {
	.central-board {
		background: url('img/centralBoardSolo.png') no-repeat;
		aspect-ratio: 700/710;
		background-size: 100%;
	}

	.central-board-hole {
		&.hole-1 {
			top: 25%;
			left: 21%;
		}
		&.hole-2 {
			top: 25%;
			right: 18%;
		}
		&.hole-3 {
			top: 53%;
			left: 37%;
		}
	}
}

.color-1,
.color-2,
.color-3,
.color-4,
.color-5,
.color-6 {
	max-width: 100%;
	background-size: 100%;
	background-image: url('img/coloredTokens.png');
}

.color-1 {
	//blue
	background-position: 0 0%;
	background-size: 100%;
}
.color-3 {
	//brown
	background-position: 0 19.605263%;
	background-size: 100%;
	filter: drop-shadow(1px 4px 2px rgb(126, 76, 2)) brightness(0.8);
}
.color-4 {
	//green
	background-position: 0 39.161521%;
	background-size: 100%;
}
.color-2 {
	//grey
	background-position: 0 58.453947%;
	background-size: 100%;
	filter: grayscale(100%) brightness(1.3);
}
.color-6 {
	//red
	background-position: 0 79.190176%;
	background-size: 100%;
}
.color-5 {
	//yellow
	background-position: 0 100%;
	background-size: 100%;
}

.hrm-button {
	&.animal-cube {
		width: 17px;
		height: 19px;
	}
}

.bga-cards_selected-card {
	box-shadow: 0 0 5px 5px greenyellow;
}

.card-stock {
	.slot {
		border-radius: 8px;
		height: $CARD_HEIGHT;
		width: $CARD_WIDTH;
		background: hsla(0, 0%, 100%, 0.4);
		outline: 1px solid hsla(0, 0%, 100%, 0.6);
	}
}

.harmonies-card {
	width: $CARD_WIDTH;
	height: $CARD_HEIGHT;
	.card-side {
		border-radius: 3%;
	}
	.animal-cube {
		width: unset;
		height: unset;
	}
}

.card-zoom {
	width: $CARD_WIDTH * 1.8;
	height: $CARD_HEIGHT * 1.8;
}
.card-tooltip-element {
	max-width: $CARD_WIDTH * 1.8;
	text-align: center;
	margin-top: 3px;
}

.cubespirit,
.cube {
	max-width: 100%;
	background-size: 100%;
	background-image: url('img/cubes.png');
	width: 22px;
	height: 25px;
	z-index: 10;
}

.cubespirit {
	background-position: 0 0%;
	background-size: 100%;
}
.cube {
	background-position: 0 100%;
	background-size: 102.121212%;
}

.shared-elements {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 8px;
	align-items: center;
	gap: 8px;
	//position: sticky;
	//top: 60px;
}

.log {
	.log-icon {
		display: inline-block;
		vertical-align: middle;
		width: 30px;
		height: 27px;
	}
}

.player-count-1 {
	.score-solo-suns-help {
		display: inline-block;
	}
}
.score-solo-suns-help {
	display: none;
	background-size: 100%;
	background-image: url('img/soloSunsHelp.jpg');
	background-repeat: no-repeat;
	width: 354px;
	aspect-ratio: 354/162;
	margin: 0 auto;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}

/*#reset_turn_button {
    float: right;
    background-color: red;
    background-image: none;
}*/

@mixin reset-hole-position {
	position: relative;
	top: unset;
	left: unset;
	right: unset;
	bottom: unset;
}

@mixin reset-hole-token-position {
	top: unset;
	left: unset;
	right: unset;
	bottom: unset;
}

@mixin small-central-board {
	clip-path: none;
	.border {
		height: 305%;
		left: -60%;
	}

	.central-board {
		background: none;
		height: unset;
		aspect-ratio: unset;
		display: flex;
		column-gap: 10px;
		margin: 12px 0px 12px 15px;

		.central-board-counter-wrapper {
			position: unset;
			align-self: center;
		}

		.central-board-hole {
			box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
			background-color: rgb(181, 150, 109);
			width: 80px;
			aspect-ratio: 1 / 1;
			border-radius: 50%;
			align-self: center;

			.hole-token {
				@include reset-hole-token-position;
			}

			&.hole-1 {
				@include reset-hole-position;

				.hole-token-1 {
					top: 39%;
					left: 46%;
				}
				.hole-token-2 {
					top: 5%;
					right: 32%;
				}
				.hole-token-3 {
					top: 44%;
					left: 3%;
				}
			}
			&.hole-2 {
				@include reset-hole-position;
				.hole-token-1 {
					top: 13%;
					right: 8%;
				}
				.hole-token-2 {
					top: 10%;
					right: 49%;
				}
				.hole-token-3 {
					top: 51%;
					left: 26%;
				}
			}
			&.hole-3 {
				@include reset-hole-position;
				.hole-token-1 {
					top: 9%;
					left: 48%;
				}
				.hole-token-2 {
					top: 26%;
					right: 52%;
				}
				.hole-token-3 {
					top: 44%;
					left: 43%;
				}
			}
			&.hole-4 {
				@include reset-hole-position;
				.hole-token-1 {
					top: 3%;
					left: 21%;
				}
				.hole-token-2 {
					top: 35%;
					right: 1%;
				}
				.hole-token-3 {
					top: 40%;
					left: 2%;
				}
			}
			&.hole-5 {
				@include reset-hole-position;
				.hole-token-1 {
					top: 9%;
					left: 49%;
				}
				.hole-token-2 {
					top: 48%;
					right: 18%;
				}
				.hole-token-3 {
					top: 12%;
					left: 5%;
				}
			}
		}
	}
}
@media only screen and (max-width: 1218px) {
	.player-count-2,
	.player-count-3,
	.player-count-4 {
		#central-board-zone {
			@include small-central-board;
		}
	}
}

@media only screen and (max-width: 990px) {
	.player-count-1 {
		#central-board-zone {
			@include small-central-board;
		}
	}
}
